<app-menu-title blogTitle="THE BLOG"></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://s3-alpha.figma.com/hub/file/4093188630/561dfe3e-e5f8-415c-9b26-fbdf94897722-cover.png"
      cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et dictum odio. Praesent pretium semper tortor, in lobortis elit cursus nec. Nullam vitae placerat quam. Etiam fermentum mauris diam, in vehicula nunc elementum nec. Etiam sit amet risus consequat, auctor dui id, hendrerit orci."
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://static.vecteezy.com/system/resources/thumbnails/008/695/917/small_2x/no-image-available-icon-simple-two-colors-template-for-no-image-or-picture-coming-soon-and-placeholder-illustration-isolated-on-white-background-vector.jpg"
      cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
    ></app-small-card>

    <app-small-card
      id="3"
      photoCover="https://static.vecteezy.com/system/resources/thumbnails/008/695/917/small_2x/no-image-available-icon-simple-two-colors-template-for-no-image-or-picture-coming-soon-and-placeholder-illustration-isolated-on-white-background-vector.jpg"
      cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
    ></app-small-card>

    <app-small-card
      id="4"
      photoCover="https://static.vecteezy.com/system/resources/thumbnails/008/695/917/small_2x/no-image-available-icon-simple-two-colors-template-for-no-image-or-picture-coming-soon-and-placeholder-illustration-isolated-on-white-background-vector.jpg"
      cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
    ></app-small-card>
  </div>
</div>
